﻿@model IEnumerable<FA.JustBlog.Core.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a href="/Admin/Category/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlSlug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlSlug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id})
                @Html.ActionLink("Detail", "Detail", new {id = item.Id})
                @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new{onclick = "return confirm('You definitely want to delete?')"})
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var datapaging = new
    {
        currentPage = ViewData["pageNumber"],
        countPages = ViewData["totalPages"],
        generateUrl = (Func<int?, string>)(pageNumber => Url.Action("Index", new { page = pageNumber }))
    };
}
@Html.Partial("_Paging", datapaging)