﻿@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using FA.JustBlog.Core.Models;
@model Post
<head>
     <link href="~/csscomment/StyleSheet.css" rel="stylesheet" />
	  <link href="~/css/site.css" rel="stylesheet" />
     
</head>
<!-- Page Header-->
<header class="masthead" style="background-image: url('../../assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@Model.Title</h1>
                    <span class="subheading">@Model.ShortDescription</span>
                    <p class="post-meta">
                        Posted by
                        <a>DatHV5</a>
                        on @Model.PostedOn with rate @Model.Rate by @Model.ViewCount view(s)
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <p>@Model.PostContent</p>
			</div>
			<hr>
			<div class="container">
				<div class="col-md-12" id="fbcomment">
					<div class="body_comment">
						@if (User.Identity?.IsAuthenticated ?? false)
							{
							<form method = "post" asp-action="CommentPost" asp-controller="Post">
								<div class="row">
									<div class="avatar_comment col-md-2">
										<img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar" />
									</div>
									<div class="box_comment col-md-10">
										<input type="hidden" asp-for="Id" />
										<textarea class="commentar" name="commentHeader" placeholder="Add a  comment header..."></textarea>
										<hr>
										<textarea class="commentar" name="commentText" placeholder="Add a comment..."></textarea>
										<hr>
									
										<div class="box_post">
											<div class="pull-left">
												<input type="checkbox" id="post_fb" />
												<label for="post_fb">Also post on Facebook</label>
											</div>
											<div class="pull-right">
												<span>
													<img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar" />
													<i class="fa fa-caret-down"></i>
												</span>
												<button  type="submit" value="1">Post</button>
											</div>
										</div>
									</div>
								</div>
							</form>
	
						}
						else
						{
							<form method = "post" asp-action="CommentPost" asp-controller="Post">
								<div class="row">
									<div class="avatar_comment col-md-4">
										<img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar" />
									</div>
									<div class="box_comment col-md-8">
										<input type="hidden" asp-for="Id" />
										<textarea class="commentar" name="name" placeholder="Add a name..."></textarea>
										<hr>
										<textarea class="commentar" name="commentHeader" placeholder="Add a  comment header..."></textarea>
										<hr>
										<textarea class="commentar" name="commentText" placeholder="Add a comment..."></textarea>
										<hr>
										<textarea class="commentar" name="email" placeholder="Add a Email..."></textarea>
										<div class="box_post">
											<div class="pull-left">
												<input type="checkbox" id="post_fb" />
												<label for="post_fb">Also post on Facebook</label>
											</div>
											<div class="pull-right">
												<span>
													<img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar" />
													<i class="fa fa-caret-down"></i>
												</span>
												<button  type="submit" value="1">Post</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						}
			
						<div class="row" style="margin-top:40px;">
							<ul id="list_comment" class="col-md-12">
								@foreach (Comment item in Model.Comments)
								{
									<li class="box_result row" style="padding-bottom:30px">
										<div class="avatar_comment col-md-2">
											<img src="https://static.xx.fbcdn.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="avatar" />
										</div>
										<div class="result_comment col-md-10">
											<h4>@item.Name</h4>
											<p>@item.CommentText</p>
											<div class="tools_comment">
												<a class="like" href="#">Like</a>
												<span aria-hidden="true"> · </span>
												<a class="replay" href="#">Reply</a>
												<span aria-hidden="true"> · </span>
												<span aria-hidden="true"> · </span>
												<span>@item.CommentTime</span>
											</div>

										</div>
									</li>
								}
							</ul>
				
						</div>
					</div>
				</div>
			</div>    
		</div> 
	</div>
</div>