﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using FA.JustBlog.Core.Models;
@model List<Post>
<!-- Page Header-->
<header class="masthead" style="background-image: url('../../assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>All Post</h1>
            <!-- Post preview-->
            @foreach (var item in Model)
            {
                <div class="post-preview">
                    <a href="Detail?id=@item.Id">
                        <h2 class="post-title">@item.Title</h2>
                        <h3 class="post-subtitle">@item.ShortDescription</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">Just Blog</a>
                        on @item.PostedOn
                    </p>
                </div>
            }

            <!-- Pager-->
            @*<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>*@
        </div>
        <!--About Me-->
        <div class="col-md-2 col-lg-3 col-xl-5">
            <div style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <header class="masthead" style="background-image: url('../../assets/img/about-bg.jpg')">
                </header>
                <div class="ps-4 pb-4">
                    <h1>About Me!</h1>
                    <p>Just me, myself and I, exploring the universe of unknowment. I have a heart of love and a interest</p>
                </div>
            </div>
            <!--Most Viewed-->
            <div class="mt-5">
                <h1>Most Viewed Post</h1>
                <hr class="my-4" />
                @foreach (var item in ViewBag.GetMostViewed)
                {
                    <div class="post-preview">
                        <a href="@Url.Action("Detail",new{ id = item.Id})">
                            <h2 class="post-title">@item.Title</h2>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a>DatHV5</a>
                            on @item.PostedOn with rate @item.Rate by @item.ViewCount view(s)
                        </p>
                    </div>
                    <hr class="mt-4" />
                }
            </div>
            <!-- Last Post -->
            <div class="mt-5">
                <h1>Latest Post</h1>
                <hr class="my-4" />
                @foreach (var item in ViewBag.GetLatestPost)
                {
                    <div class="post-preview">
                        <a href="@Url.Action("Detail",new{ id = item.Id})">
                            <h2 class="post-title">@item.Title</h2>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a>DatHV5</a>
                            on @item.PostedOn with rate @item.Rate by @item.ViewCount view(s)
                        </p>
                    </div>
                    <hr class="mt-4" />
                }
            </div>
            <!-- Tags -->
            <div class="mt-5">
                <h1>Popular Tag</h1>
                <hr class="my-4" />
                @foreach (var item in ViewBag.GetTags)
                {
                    <a class="border mt-1" href="@Url.Action("GetTags","Post",new{ tag = item.UrlSlug})" , style="background-color:black; color:white">@item.Name</a>
                }
            </div>
        </div>
    </div>
</div>

