﻿@model IEnumerable<FA.JustBlog.Core.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a href="@Url.Action("Create" , "Post", new{area = "Admin"})">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.PostContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlSlug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>  
            <td class="post-content">
                @Html.DisplayFor(modelItem => item.PostContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlSlug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
              @Html.ActionLink("Edit", "Edit", new {id = item.Id})
              @Html.ActionLink("PostDetails", "PostDetails", new {id = item.Id})
              @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new{onclick = "return confirm('You definitely want to delete?')"})
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    const textContainers = document.querySelectorAll(".post-content");

    textContainers.forEach((textContainer) => {
        const text = textContainer.innerHTML.trim();
        const words = text.split(" ");
        const showChar = 50;

        if (words.length > showChar) {
            const shown = words.slice(0, showChar).join(" ");
            const hidden = words.slice(showChar, words.length).join(" ");
            textContainer.innerHTML = shown +
                `<span class="dots">...</span>` +
                `<span class="more-text" style="display:none;">${hidden}</span>` +
                `<a href="#" class="more-link">More</a>`;
        }

        const moreLinks = textContainer.querySelectorAll(".more-link");
        moreLinks.forEach((moreLink) => {
            moreLink.addEventListener("click", function (event) {
                event.preventDefault();
                const dots = this.previousSibling;
                const moreText = this.nextSibling;
                if (dots.style.display === "none") {
                    dots.style.display = "inline";
                    this.innerHTML = "More";
                    moreText.style.display = "none";
                } else {
                    dots.style.display = "none";
                    this.innerHTML = "Less";
                    moreText.style.display = "inline";
                }
            });
        });
    });
</script>
@{
    var datapaging = new
    {
        currentPage = ViewData["pageNumber"],
        countPages = ViewData["totalPages"],
        generateUrl = (Func<int?, string>)(pageNumber => Url.Action("Index", new { page = pageNumber }))
    };
}
@Html.Partial("_Paging", datapaging)
