﻿@page "/admin/role/updaterole/{handler?}/"
@model FA.JustBlog.Areas.Identity.Pages.Role.AddModel
@{
    ViewData["Title"] = "Log in";
   Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var btnText = Model.IsUpdate ? "Cập nhật" : "Tạo mới";
    var hidden = Model.IsUpdate ? "hidden" : "";
}
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @*<input type="text" asp-for="Input.ID">*@
            <input type="hidden" asp-for="IsUpdate">
            <div hidden class="form-group">
                <label asp-for="Input.ID"></label>
                <input  asp-for="Input.ID" class="form-control">
                <span asp-validation-for="Input.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control">
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <button id="add-or-edit-role" type="submit"
                    asp-page-handler="AddOrUpdate" class="btn btn-primary">
                @btnText
            </button>

            <a class="btn btn-primary" asp-page="./Index">Danh sách</a>
        </form>
    </div>
</div>
@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@