﻿@page
@model FA.JustBlog.Areas.Identity.Pages.Role.DeleteModel
@{
    ViewData["Title"] = "Xóa role";
     Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <p>Bạn có chăc chắn xóa Role <strong>@Model.Input.Name</strong> </p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Input.ID">
            <input type="hidden" asp-for="isConfirmed">
            <a class="btn btn-primary" asp-page="./Index">Danh sách</a>
            <button type="submit" asp-page="./Delete" class="btn btn-danger">Xóa</button>
        </form>
    </div>
</div>

@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@