﻿@page "/admin/role/"
@model FA.JustBlog.Areas.Identity.Pages.Role.IndexModel

@{
    ViewData["Title"] = "Log in";
      Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<form method="POST" class="my-1 d-inline">
    <button class="btn btn-secondary" asp-page="./Add"
            asp-page-handler="StartNewRole">
        Thêm mới Role
    </button>
</form>
<table class="table">
    <tr>
        <th>Role ID</th>
        <th>Tên</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var role in @Model.roles)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td>
                <form method="POST" class="d-inline">
                    <button name="Input.ID" value="@role.Id" class="btn btn-success  "
                        asp-page="./Add" asp-page-handler="StartUpdate">
                        Cập nhật Role
                    </button>
                </form>
                <form method="POST" class="d-inline">
                    <button name="Input.ID" value="@role.Id" class="btn btn-success  "
                        asp-page="./Delete">
                        Xóa Role
                    </button>
                </form>
            </td>
        </tr>
    }
</table>