﻿@page "/admin/role/users/"
@model FA.JustBlog.Areas.Identity.Pages.Role.UserModel
@{
    ViewData["Title"] = "DANH SÁCH NGƯỜI DÙNG";
     Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
}

<table class="table table-striped">
    <tr>
        <th>UserName</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in @Model.users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.listroles</td>
            <td>
                <form method="POST" class="d-inline">
                    <button name="Input.ID" value="@user.Id" class="btn btn-primary btn-sm"
                        asp-page="./AddUserRole">
                        Cập nhật Role
                    </button>
                </form>
            </td>
        </tr>

    }
</table>

@{

    Func<int?, string> generateurl = (int? _pagenumber) =>
    {
        return Url.Page("./user", new { pagenumber = _pagenumber });
    };

    var datapaging = new
    {
        currentPage = Model.pageNumber,
        countPages = Model.totalPages,
        generateUrl = generateurl
    };

}