﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

@*<h1>@ViewData["Title"]</h1>*@

<head>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/csslogin/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(../../csslogin/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Just Blog Login</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Have an account?</h3>
                        <form id="account" method="post" asp-route-returnUrl="@Model.ReturnUrl">
                            <div class="form-group">
                                <input asp-for="Input.Email" type="text" class="form-control" placeholder="DatHV5@fsoft.com.vn" required>
                            </div>
                            <div class="form-group">
                                <input asp-for="Input.Password" id="password-field" type="password" class="form-control" placeholder="Z!U8-x9Habyt_Mn" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" name="signin" id="signin" class="form-control btn btn-primary submit px-3">Sign In</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">
                                        Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="/Identity/Account/Register" style="color: #fff">Sign Up</a>
                                </div>
                            </div>
                        </form>
                        <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
                        <div class="social d-flex text-center">
                            @if ((Model.ExternalLogins?.Count ?? 0) != 0)
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/csslogin/js/jquery.min.js"></script>
    <script src="~/csslogin/js/popper.js"></script>
    <script src="~/csslogin/js/bootstrap.min.js"></script>
    <script src="~/csslogin/js/main.js"></script>

</body>
</>
