﻿@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
	Layout = null;
}


<head>
		<meta charset="utf-8">
		<title>Registration</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="~/sigupcss/css/style.css">
	</head>

	<body>

		<div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');">
			<div class="inner">
				<form method="POST" class="register-form" id="register-form" >
					<h3>Registration </h3>
					<div class="form-group">
						<div class="form-wrapper">
							<label asp-for="Input.FirstName">First Name</label>
							<input asp-for="Input.FirstName" aria-required="true" type="text" class="form-control">
							  <span asp-validation-for="Input.FirstName" class="text-danger"></span>
						</div>
						<div class="form-wrapper">
							<label asp-for="Input.LastName">Last Name</label>
							<input asp-for="Input.LastName" aria-required="true" type="text" class="form-control" />
							<span asp-validation-for="Input.LastName" class="text-danger"></span>
						</div>
					</div>
					<div class="form-wrapper">
						<label asp-for="Input.Email">Email</label>
						<input asp-for="Input.Email" aria-required="true" type="text" class="form-control" />
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="form-wrapper">
						<label asp-for="Input.Password">PassWord</label>
						<input asp-for="Input.Password" aria-required="true" type="password" class="form-control" />
						 <span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div class="form-wrapper">
						<label asp-for="Input.ConfirmPassword">Confirm Password</label>
						<input asp-for="Input.ConfirmPassword" aria-required="true" type="password" class="form-control" />
						 <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> I caccept the Terms of Use & Privacy Policy.
							<span class="checkmark"></span>
						</label>
					</div>
					<button>Register Now</button>
				</form>
			</div>
		</div>
		
	</body>
